{% extends 'base.html' %}

{% block title %} Choose test {% endblock %}



{% block content %}
    <form action='' method="POST">
        <input type='hidden' name='command' value='end_test'/>
        {% for question in questions %}
            <h3>{{ question.0 }}</h3>
            {% for variant in question.1 %}
                <input type="checkbox" name="{{ variant.text }}" value="{{ variant.id }}"/>{{ variant.text }}<br/>
            {% endfor %}
            <br/>
        {% endfor %}
        <input type="submit" value="Send"/>
    </form>

    {% include 'include/logout.html' %}
    </br>
    <form action='' method='POST'>
        <input type='submit' value='Home page'/>
    </form>
{% endblock %}